.grid {
  max-height: 40vh;
  width: 40vw;
  margin: 20px auto;
}
.paper {
  display: grid;
  place-items: center;
  padding: 20px;
}
@media screen and (max-width: 678px) {
  .grid {
    width: 70vw;
    margin: 10px auto;
  }
  .header {
    font-size: 20px;
  }
}
