.grid {
  max-height: auto;
  width: 80vw;
  margin: 140px auto;
}
.paper {
  display: grid;
  place-items: start;
  padding: 20px;
}
.list {
  width: 100%;
}
.listitems {
  border-bottom: 2px solid black;
}
