.grid {
  max-height: auto;
  width: 80vw;
  margin: 140px auto;
}
.paper {
  display: grid;
  place-items: start;
  padding: 20px;
}
.list {
  width: 100%;
}
.listitems {
  border-bottom: 2px solid black;
}
@media screen and (max-width: 678px) {
  .grid {
    width: 100%;
    margin: 100px auto;
  }
  .paper {
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  .grid {
    width: 100%;
    margin: 150px auto;
  }
  .paper {
    padding: 0;
  }
  .avatar {
    display: none;
  }
}
