.navLight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid black;
}
.navDark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-bottom: 2px solid white;
}
.logout {
  margin-right: 10px;
}
.badge {
  background-color: bisque;
  border-radius: 10px;
  width: auto;
  padding: 7px;
  margin-left: 20px;
}
.side {
  display: flex;
}
@media screen and (max-width: 678px) {
  .side {
    flex-direction: column;
    align-items: flex-end;
  }
  .badge {
    margin-top: 10px;
  }
}
