.paper {
  padding: 30px 60px;
  width: 40vw;
  margin: 20px auto;
}
.header {
  margin: 10px;
}
.avatar {
  background-color: #00ff9d !important;
}
.button {
  margin: 20px !important;
}
.action {
  display: flex !important;
  flex-direction: column;
}
.toggle {
  background-color: white;
  color: black;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .paper {
    width: 70vw;
    padding: 30px;
  }
}
