.grid {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
.paper {
  padding: 30px 60px;
}
.header {
  margin: 10px;
}
.avatar {
  background-color: #00ff9d !important;
}
.button {
  margin: 20px auto !important;
}
